body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: url('../images/background.jpg');
  background-size: contain;
}

.moveCounter {
  border: 0px;
  background-color: inherit;
  width: 20px;
}

.starCounter {
  border: 0px;
  background-color: inherit;
  width: 20px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

button {
  color: white;
  height: 30px;
  width: auto;
  border-radius: 25%;
  border: 1px solid white;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgba(255, 0, 0, 0.4), rgba(0, 0, 255, 0.4));
}

.lostALife {
  -webkit-animation: growShrink 0.6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: growShrink 0.6s; /* Firefox < 16 */
}

main {
  padding: 10px;
  padding-top: 20%;
}

#resetButton {
  margin-left: 50%;
}

.resetButtonPress {
  -webkit-animation: roundabout 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: roundabout 0.3s; /* Firefox < 16 */
}


#gameContainer {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  box-shadow: 6px 10px 20px #888888;
  border: 5px double black;
  background-image: linear-gradient(45deg, rgba(255,215,0, 0.5), rgba(137, 207, 240, 0.5));
}

.gameCard {
  height: 60px;
  width: 21%;
  margin: 2%;
  text-align: center;
  background-color: white;
  border-radius: 25%;
  background-color: slategrey;
}

.gameCard i {
  margin-top: 30%;
  display: none;
}

.cardReveal {
  background-color: lavender;
  -webkit-animation: transition 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: transition 0.3s; /* Firefox < 16 */
}

.wrongCards {
  background-color: salmon;
  -webkit-animation: shake 0.6s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: shake 0.6s; /* Firefox < 16 */
}

.correctCards {
  background-color: NavajoWhite;
  -webkit-animation: squeez 0.3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: squeez 0.3s; /* Firefox < 16 */
}

.cardReveal i {
  display: block;
}

.wrongCards i {
  display: block;
}

.correctCards i {
  display: block;
}

@keyframes growShrink {
  100% {-webkit-transform: scale(2, 2);}
}

@keyframes roundabout {
  100% {-webkit-transform: rotate(360deg);}
}

@keyframes shake {
  25% {-webkit-transform: translateX(5px);}
  50% {-webkit-transform: translateX(-10px);}
  75% {-webkit-transform: translateX(5px);}
  100% {-webkit-transform: translateX(-10px);}
}

@keyframes transition {
  from {-webkit-transform: scale(0.5, 1);}
  to {-webkit-transform: scale(1, 1);}
}

@keyframes squeez {
  from {-webkit-transform: scale(1, 0.5);}
  to {-webkit-transform: scale(1, 1);}
}

/* Firefox < 16 */

@-moz-keyframes growShrink {
  100% {-webkit-transform: scale(2, 2);}
}

@-moz-keyframes roundabout {
  100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes shake {
  25% {-webkit-transform: translateX(5px);}
  50% {-webkit-transform: translateX(-10px);}
  75% {-webkit-transform: translateX(5px);}
  100% {-webkit-transform: translateX(-10px);}
}

@-moz-keyframes transition {
  from {-webkit-transform: scale(0.5, 1);}
  to {-webkit-transform: scale(1, 1);}
}

@-moz-keyframes squeez {
  from {-webkit-transform: scale(1, 0.5);}
  to {-webkit-transform: scale(1, 1);}
}

/* Styling for Post Game  */

#winnerContent {
  height: 100%;
  width: 100%;
  padding-top: 50%;
  display: none;
}

#loserContent {
  height: 100%;
  width: 100%;
  padding-top: 50%;
  display: none;
}

/* Styling for ipad or similar devices and Desktop */
@media screen and (min-width: 426px) {

  body {
    font-size: 20pt;
  }

  main {
    max-height: 700px;
    max-width: 600px;
    margin: auto;
    padding-top: 10%;
  }

  .moveCounter {
    font-size: 20pt;
    width: 50px;
  }

  .starCounter {
    font-size: 20pt;
    width: 50px;
  }

  #gameContainer {
    background-image: linear-gradient(45deg, rgba(255,215,0, 0.7), rgba(137, 207, 240, 0.7));
    margin-bottom: 20px;
  }

  .gameCard {
    min-height: 100px;
  }

  /* Styling for Post Game  */

  #winnerContent {
    padding-top: 10%;
  }

  #loserContent {
    padding-top: 10%;
  }
}

@media screen and (min-width: 1025px) {
  body, html {
    background-size: cover;
  }
}
